:host {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modifiers {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.mdc-data-table__header-cell {
	vertical-align: middle;
	font-weight: 600;
}

.mat-mdc-cell {
	vertical-align: middle;
}

.mat-column-edit,
.mat-column-delete {
	text-align: end;
	vertical-align: middle;
}
