<div class="modifiers" [hidden]="true">
	<mat-form-field>
		<mat-label>{{ localizedMessages["FILTER"] }}</mat-label>

		<input matInput (keyup)="applyFilter($event)" placeholder="Mia" #input />
	</mat-form-field>

	<a mat-flat-button color="primary" [routerLink]="'/' + RouteEnum.HEROES + '/' + HeroSubRouteEnum.CREATE">
		<mat-icon>add</mat-icon>

		<span>{{ localizedMessages["ADD"] }}</span>
	</a>
</div>

@defer (when dataSource) {
<div class="table-section">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
		@for(column of displayedColumns; track $index) { @if (column !== 'edit' && column !== 'delete') {
		<ng-container [matColumnDef]="column">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>{{ localizedColumns[column] }}</th>

			<td mat-cell *matCellDef="let element">{{ column === "gender" ? GenderLocalized[element[column]] : (element[column] | capitalize) }}</td>
		</ng-container>
		} @else {
		<ng-container [matColumnDef]="column">
			<th mat-header-cell *matHeaderCellDef>{{ localizedExtraColumns[column] }}</th>

			<td mat-cell *matCellDef="let element">
				<button mat-mini-fab [color]="column === 'delete' ? 'warn' : 'primary'" (click)="interact(column, element)">
					<mat-icon justify="end">{{ column }}</mat-icon>
				</button>
			</td>
		</ng-container>
		} }

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

		<tr *matNoDataRow>
			@if(dataSource.filter) {
			<td class="no-data" colspan="99">{{ localizedMessages["NO_DATA_MATCHING"] + '"' + input.value + '"' }}</td>
			} @else {
			<td class="no-data" colspan="99">{{ localizedMessages["NO_DATA"] }}</td>
			}
		</tr>
	</table>
</div>
} @loading (minimum 500ms) {
<div class="table-section table-section--loading">
	<mat-spinner color="accent"></mat-spinner>
</div>
} @error {
<p>{{ localizedMessages["ERROR"] }}</p>
}

<mat-paginator class="paginator"  [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"> </mat-paginator>
