$white-fill: #fafafa;
$white-text: #fafafa;

$black-fill: #171717;
$black-text: #171717;

$success: #28a745;
// $success-fill: #4BB543;
$success-container: #a5ff9f;
$on-success-container: #02864a;

$warning: #ffbb33;
$warning-container: #f8e4a2;
$on-warning-container: #ff8800;

$error: #b3261e;
$error-container: #f9dedc;
$on-error-container: #410e0b;
