$white-fill: #fafafa;
$white-text: #fafafa;

$black-fill: #171717;
$black-text: #171717;

$dark-grey-fill: #2d2d2d;
$dark-grey-text: #2d2d2d;

$grey-fill: #4d4d4d;
$grey-text: #4d4d4d;

$light-grey-fill: #7d7d7d;
$light-grey-text: #7d7d7d;

$lighter-grey-fill: #bfbfbf;
$lighter-grey-text: #bfbfbf;

$success: #28a745;
// $success-fill: #4BB543;
$success-container: #a5ff9f;
$on-success-container: #02864a;

$warning: #ffbb33;
$warning-container: #f8e4a2;
$on-warning-container: #ff8800;

$error: #b3261e;
$error-container: #f9dedc;
$on-error-container: #410e0b;
