@use "@angular/material" as mat;
@use "./styles/material/typography.scss" as typography;
@use "./styles/material/theme" as theme;

@import "./styles/reset.scss";
@import "./styles/material/typography.scss";
@import "./styles/colors.scss";

@include mat.core();
@include mat.all-component-themes(theme.$app-theme);

html,
body {
	background-color: $white-fill;
	color: $black-text;

	height: 100%;
}

body {
	margin: 0;
	font-family: "Geist", sans-serif;
}

.mdc-button {
	border-radius: 9999px !important;
}

.mat-mdc-snack-bar-container {
	& .mdc-snackbar__surface,
	& .mdc-snackbar__label {
		padding: 0;
	}
}
