@use "@angular/material" as mat;
@use "./styles/material/theme" as theme;

@import "./styles/reset.scss";
@import "./styles/colors.scss";

@include mat.core();

html,
body {
	@include mat.core-theme(theme.$dark-theme);
	@include mat.all-component-themes(theme.$dark-theme);

	--bg-color: #171717;
	--text-color: #fafafa;

	background-color: var(--bg-color);
	color: var(--text-color);

	height: 100%;

	&.light-theme {
		@include mat.core-theme(theme.$light-theme);
		@include mat.all-component-themes(theme.$light-theme);

		--bg-color: #fafafa;
		--text-color: #171717;
	}
}

body {
	margin: 0;
	font-family: "Geist", sans-serif;
}

.mdc-button {
	border-radius: 9999px !important;
}

.mat-mdc-snack-bar-container {
	& .mdc-snackbar__surface,
	& .mdc-snackbar__label {
		padding: 0;
	}
}
